:root {
	/* General Theme Colours */
	--white: #ffffff;
	--light-gray: #585858;
	--light-grey: #585858;
	--dark-gray: #333333;
	--dark-grey: #333333;

	--red: #ff0000;
	--purple: rebeccapurple;
	--orange: #ffa804;

	/* Buttons */
	--btn-blue: #4979ff;

	/* Text */
	--light-text: #f4f4f4;
	--dark-text: #000000;

	/* Links */
	--light-link: rebeccapurple;
	--light-link-hover: #ff0000;
	--dark-link: #ffa804;
	--dark-link-hover: #ff7272;
}
